<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allocated slots</title>
    {% load staticfiles %} <!-- Prepare django to load static files -->
</head>
<body>
<a href="{% url 'carparking' %}">Click here to visit Home Page</a>
<form action="" method="post">
    {% csrf_token %}
    <label for="car_registration_num">Car Registration number</label>
    <input id="car_registration_num" type="text" name="car_registration_num" value="{{ car_id }}">
    <label for="car_color">Car Color</label>
    <input id="car_color" type="text" name="car_color" value="{{ car_color }}">
    <input type="submit" value="Submit" />
</form><br>

{{ message }}<br>
<h1>{{error_message}}</h1><br>
<a href="{% url 'all_slots' %}">Click here to see all slots list based on parking space number</a><br>

<form action="" method="post">
    {% csrf_token %}
    <label for="slot_number">Slot number</label>
    <input id="slot_number" type="number" name="slot_number" value="{{ slot }}">
    <input type="submit" value="Submit" />
</form>

<small>Fill slot number to vacant the slot</small><br>

<form action="" method="post">
    {% csrf_token %}
    <label for="slot_status">Slot number</label>
    <input id="slot_status" type="number" name="slot_status" value="{{ slot_status }}">
    <input type="submit" value="Submit" />
</form>
<small>Fill slot number to get status of the slot</small><br>
<p>{{status}}</p>
<h1>Hello Swiggy .Have a nice day!!!</h1>
  <img src={% static "image.jpg" %}>
</body>
</html>
